<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
</head>
    <Ul>
        <li><a href="./About.html">About me.</a></li>
        <li><a href="./Project.html">Projects.</a></li>
    </Ul>
<body>
    <h1>Contact us</h1>
        <P class="text-center"><address>
            Visit us at:<a href="https://mail.google.com/">Alex Rogers</a>.<br>
            3960 southpointe Dr., Orlando, FL 32822<br>
            USA <br>
            phone: 402-669-4072 <br>
        </address></P>
</body>
</html>